component-header {
  .header-row {
    height: 70px!important;
    background: none;
    padding: 0!important;
    margin: 0!important;
  }

  .item-menu {
    display: flex;
    align-items: center;
  }

  .item-md {
    color: #f4f4f4!important;
  }

  ion-item {
    background: none !important;
    padding-left: 30px!important;

    .picture-profile {
      border-radius: 50%;
      overflow: hidden;
      width: 5rem;
      height: 5rem;
    }

    ion-icon {
      font-size: 4.5rem;
      margin: 0 7px 0 0;
    }

    .item-inner {
      margin-left: 0;
      border-bottom: 0 !important;
      margin-top: -6px;
      padding: 0;

      h2 {
        margin: 2px 0;
        font-size: 1.3rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

ion-header {
  .toolbar-background-md {
    background-color: #222222;
    border-color: #343434;
  }
  .toolbar-title-md {
    color: #f4f4f4;
  }
  .bar-button-default-md {
    color: #f4f4f4;
  }
}
