<ion-row style="height: 71px!important;">

  <ion-col col-1 class="item-menu">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-col>

  <ion-col col-8>
    <ion-item class="padding-person">
      <ion-avatar item-left>
        <img class="picture-profile" id="img-user-header" [src]="user.urlFoto"/>
      </ion-avatar>
      <h2 class="header-person-name">{{user.nome}}</h2>
      <p class="color-primary">{{user.perfil}}</p>
    </ion-item>
  </ion-col>
</ion-row>
