page-home {
  .card {
    padding: 25px;
    margin: 5px auto;
    background: #f8f8f8;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
  .icon {
    margin: 10px 0 10px 20px;
    font-size: 1.4em;
  }
}
