change-password {
  ion-content {
    margin: 2rem 0;

    form {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    ion-title {
      .toolbar-title-md {
        color: map-get($colors, foreground) !important;
      }
    }

    .input {
      padding-right: 16px;
    }

    button {
      width: 100%;
    }

    .cancel {
      background-color: transparent;
      color: map-get($colors, primary);
      box-shadow: none !important;
    }

  }
}
