<ion-header>
  <ion-toolbar class="shadow_under top_toolbar">
    <component-header></component-header>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background-primary">
  <!-- BEFORE CAPTURE IMAGE -->
  <ion-grid *ngIf="!base64Image">
    <ion-title text-center color="light">FOTO DO PERFIL</ion-title>
    <div text-center>
      <p class="subtitle">Melhore seu perfil alterando sua foto</p>
    </div>

    <ion-grid class="grid-layout" *ngIf="!base64Image">

      <ion-row class="row-center row-container" align-items-center>
        <ion-col col-8 padding-top>
          <button ion-button class="button-camera" color="secondary" (click)="takePicture()">
            <ion-icon name="camera" class="icon-document color-primary"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <div text-center class="cancel">
        <button col-3 ion-button (click)="cancelAction()">Cancelar</button>
      </div>
    </ion-grid>

    <ion-grid class="grid-layout" *ngIf="base64Image">
      <ion-row class="row-center row-container" align-items-center>
        <ion-col col-12 class="col-profile" text-center>
          <div class="image-profile" [ngStyle]="{'background-image': 'url(data:image/jpeg;base64,' + base64Image + ')'}"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
  <!-- BEFORE CAPTURE IMAGE -->

  <!--AFTER CAPTURE IMAGE -->
  <div *ngIf="base64Image" class="body-image" [ngStyle]="{'background-image': 'url(data:image/jpeg;base64,' + base64Image + ')'}"></div>

  <div *ngIf="base64Image" class="background-white body-footer">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button clear icon-start class="button-next background-white" (click)="cancel()">
            Trocar
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button icon-start class="button-next background-primary" (click)="confirm()">
            Confirmar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--AFTER CAPTURE IMAGE -->

</ion-content>
